# Python cache en virtuele omgevingen
__pycache__/
*.pyc
.venv/
venv/

# IDE configuratie
.idea/
.vscode/

# Grote binaire projectbestanden
# Deze mogen NOOIT in Git
*.ova
*.vdi
scripts/isos/

# Build/export mappen
/dist/
/releases/
/build/